// font family
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/l?primer=bdc973ea9945bf2ee2550957b401916e56fc5fc4cec4e29110795767e60d6b9a&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/d?primer=bdc973ea9945bf2ee2550957b401916e56fc5fc4cec4e29110795767e60d6b9a&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/a?primer=bdc973ea9945bf2ee2550957b401916e56fc5fc4cec4e29110795767e60d6b9a&fvd=n7&v=3") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/a3eee8/00000000000000003b9b093c/27/l?primer=bdc973ea9945bf2ee2550957b401916e56fc5fc4cec4e29110795767e60d6b9a&fvd=n8&v=3") format("woff2"), url("https://use.typekit.net/af/a3eee8/00000000000000003b9b093c/27/d?primer=bdc973ea9945bf2ee2550957b401916e56fc5fc4cec4e29110795767e60d6b9a&fvd=n8&v=3") format("woff"), url("https://use.typekit.net/af/a3eee8/00000000000000003b9b093c/27/a?primer=bdc973ea9945bf2ee2550957b401916e56fc5fc4cec4e29110795767e60d6b9a&fvd=n8&v=3") format("opentype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/l?primer=bdc973ea9945bf2ee2550957b401916e56fc5fc4cec4e29110795767e60d6b9a&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/d?primer=bdc973ea9945bf2ee2550957b401916e56fc5fc4cec4e29110795767e60d6b9a&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/a?primer=bdc973ea9945bf2ee2550957b401916e56fc5fc4cec4e29110795767e60d6b9a&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}

// mixin: Linear interpolation
@function between($to, $from, $toWidth, $fromWidth) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;

  @return calc(#{$base} + #{100vw * $slope});
}

// variable: colors
$white: hsl(0, 0%, 100%);
$gray-lighter: hsl(180, 4%, 95%);
$gray-light: hsl(180, 5%, 91%);
$gray: hsl(189, 5%, 70%);
$gray-dark: hsl(180, 9%, 24%);
$gray-darker: hsl(180, 18%, 11%);
$black: hsl(180, 13%, 8%);
$tussock: hsl(38, 54%, 51%);
$leather: hsl(35, 29%, 47%);
$pomegranate: hsl(14, 83%, 51%);

// global
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $black;
  color: $gray-lighter;
}

.cta {
  text-decoration: none;
  padding: 15px 20px;
  font-weight: 700;
  color: $white;
  background-color: $pomegranate;
  transition: background-color 300ms ease-in-out;
  &:hover {
    background-color: saturate($pomegranate, 40%);
  }
}

%container-width {
  width: 90vw;
  margin: 0 auto;
  @media only screen and (min-width: 960px) {
    max-width: 1440px;
  }
}

%content-centering {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

%huge-headline {
  font-weight: 800;
  font-size: between(11px, 67px, 100px, 959px);
  @media only screen and (min-width: 960px) {
    font-size: between(68px, 76px, 960px, 1400px);
  }
}

%primary-headline {
  font-weight: 800;
  font-size: between(20px, 49px, 100px, 959px);
  @media only screen and (min-width: 960px) {
    font-size: between(33px, 55px, 960px, 1399px);
  }
  @media only screen and (min-width: 1400px) {
    font-size: 56px;
  }
}

%small-title {
  font-weight: 700;
  font-size: between(25px, 35px, 100px, 959px);
  @media only screen and (min-width: 960px) {
    font-size: between(32px, 35px, 960px, 1399px);
  }
  @media only screen and (min-width: 1400px) {
    font-size: 36px;
  }
}

%lead-text {
  font-size: between(17px, 19px, 100px, 959px);
  @media only screen and (min-width: 960px) {
    font-size: between(18px, 20px, 960px, 1399px);
  }
  @media only screen and (min-width: 1400px) {
    font-size: 21px;
  }
}

%paragraph-text {
  font-size: between(15px, 17px, 100px, 959px);
  @media only screen and (min-width: 960px) {
    font-size: between(16px, 17px, 960px, 1399px);
  }
  @media only screen and (min-width: 1400px) {
    font-size: 18px;
  }
}

%learn-more-link {
  color: $tussock;
  font-weight: 700;
  text-decoration: none;
  transition: color 300ms ease-in-out;
  &:hover {
    color: saturate($tussock, 40%);
  }
  &:after {
    content: ">";
    padding-left: 10px;
    font-size: 14px;
    font-weight: 800;
  }
}